/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/

body {

    font-family: "Nunito", sans-serif;
    font-weight: 400;
    background-color: #b2bec3;
    font-size: 18px;
    
}

h1 {
color: #d63031;
font-weight: 700;
font-size: 36px;
margin: 0;


}

div.vizitka {
    background-color: white;
    overflow: auto;
    width: 550px;
    margin: 150px auto;
    border-radius: 10px;
    box-shadow: 5px 2px 2px #777f82;
    position: relative;
    overflow: visible;
    padding: 30px;

}


    .foto {
    border-radius: 50%;
    width: 150px;
    position: absolute;
    border-color: white;
    border-width: 3px;
    border-style: solid;
	right: -75px;
    top: -75px;
    }

a.facebook:focus,
a.facebook:hover,
a.facebook:active {
    background-color:#2b406e;;
  }

 a.twitter:focus,
 a.twitter:hover,
 a.twitter:active {
    background-color:  #0b7bc1
    
    }

.twitter,
.facebook
{
font-weight: bold;
display: block;
text-transform: uppercase;
border-radius: 5px;
padding: 10px;
text-align: center;
text-decoration: none;

}

.twitter {
background-color: #1da1f2;
color: white;
margin: 10px 0;

}

.facebook {
    background-color: #3b5998;
    color: white;

}
